/* hier kommen z.b. Buttons styls rein, die man immer wieder braucht */

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.loading-screen img {
    width: 800px;
}

.loading-screen.hidden {
    display: none;
}

.load-more-btn {
    display: flex;
    align-items: center;
    margin: 10px auto 20px auto;
    padding: 15px 30px;
    cursor: pointer;
    background-color: var(--accent-color);
    border: var(--border);
    border-radius: var(--border-radius);
}

.load-more-btn:hover {
    background-color: var(--accent-color-hover);
}




.next-before-button {
    display: flex;
    cursor: pointer;
    margin: 0 15px;
    padding: 20px 30px;
    border-radius: var(--border-radius);
    background-color: var(bu);
}

/* blendet den zurück-button bei id 1 aus, der platz bleibt erhalten */
.hidden-button {
    visibility: hidden;
}