/* hier kommen z.b. Buttons styls rein, die man immer wieder braucht */

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.loading-screen img {
    width: 800px;
    max-width: 100%;
    height: auto;
}

.loading-screen.hidden {
    display: none;
}

.search-button {
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-left: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.search-button:hover {
    background-color: darkred;
    border-color: darkred;
}

.load-more-btn {
    display: flex;
    align-items: center;
    margin: 10px auto 20px auto;
    padding: 15px 30px;
    cursor: pointer;
    background-color: var(--accent-color);
    border: var(--border);
    border-radius: var(--border-radius);
}

.load-more-btn:hover:not(:disabled) {
    background-color: var(--accent-color-hover);
}

.load-more-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.next-before-button {
    display: flex;
    cursor: pointer;
    margin: 0 15px;
    padding: 20px 30px;
    border-radius: var(--border-radius);
    background-color: var(bu);
}

.hidden-button {
    visibility: hidden;
}

@media (max-width: 400px) {
    .load-more-btn {
        padding: 12px 20px;
        font-size: 0.75rem;
    }

    .next-before-button {
        margin: 0 8px;
        padding: 12px 20px;
    }
}