.pokeball {
    height: 40px;
    width: 40px;
}

.search-input {
    align-self: center;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.pokemon-img {
   width: 200px;
}

